.w-100{
	border-radius: 5px;
}
body{
	background-color: #a1a1a1;
}
.section__first{
	margin-top: 20px;
	font-family: 'Goldman', cursive;
}
.section__second{
	padding-top: 70px;
}
.card{
	border: 2px solid #2d344d;
}
footer{
	background-color: #212529;
	color: #fff;
	padding: 7px;
	margin-top: 120px;
	border-top: 3px double;
}
.location__topic{
font-weight: bold;
}
.links__topic{
font-weight: bold;
}
.whatsapp__link{
width: 60px;
height: 60px;
}
.gmail__link{
width: 60px;
height: 60px;
}
.telegram__link{
width: 60px;
height: 60px;
}
.instagram__link{
width: 60px;
height: 60px;
}
